.navbar {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

.navbar-info {
    position: absolute;
    right: 20px;
}

.navbar-buttons {
    position: absolute; 
    left: 20px;
}

.btn-outline {
    margin-left: 20px;
    color: #103783;
    border-color: #103783;
}

.btn-outline:hover {
    background-color: #103783;
    color: white;
    border-color: #103783;
}

.info-btn {
    margin-right: 20px;
    color: #103783;
    border-color: white; 
    background-color: white;
    
}

.info-btn:hover {
    border-color: #103783; 
}

.info-text {
    background-color: #838282;
    padding: 15px;
    border-radius: 5px;
    color: white;
}



.post-office {
    display: flex;
    align-items: center;
}

.post-office-icon {
    margin-right: 20px;
    color: #2b2b2b;
    text-align: right;
}

.post-office-title {
    text-align: left;
    font-size: 36px;
    color: #2b2b2b;
    text-align: left;
}
